*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../img/pattern.png);
    background-color: #4da0fe;
    height: 180px;
}
.logo-header{
    height: 70px;
    margin: 110px 30px 20px 10px;
}
.art-title{
    font-size: 70px;
}
.who-write, .when-write, .interest{
    color: #828383;
    font-size: 20px;
}
#user{
    color: #2ea5d6;
}
.article-header, .main-photos, .main-center, .after-table{
    margin: 10px;
}
.main-photos > img{
    height: 400px;
}
.main-photos{
    margin-bottom: 30px;
}
.main-center, .after-table{
    font-size: 20px;
}
.pharagraph{
    margin-bottom: 20px;
}
thead{
    background-color: #21a9e5;
    font-weight: bolder;
    color: white;
}
.light-blue{
    background-color: #b1e5f2;
}
table{
    border-collapse: collapse;
    width: 99%;
    margin: 30px 10px 30px 10px;
    font-size: 20px;
}
.longer{
    width: 40%;
}
td{
    padding-left:10px;
}
.lista{
    margin-left: 30px;
}
.img1, .img2{
    width: 350px;
    height: 260px;
    margin-top: 10px;
}
.text-img1{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
}
.img1{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
footer{
    margin: 30px 10px 10px 10px;
}
.interest{
    font-weight: bold;
}